*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
.idea/caches/
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/vcs.xml
gradle.properties
gradle/
gradlew
gradlew.bat
app/build
app/src/androidTest
app/src/test

